<!DOCTYPE html>
<html>
<head>
  <title>Shopify</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
